<%
const slides = opt.banners
if (slides && slides.length) {
  %>
  <div class="container-fluid my-4 my-lg-5 partner__list">
    <div class="row">
      <% for (let i = 0; i < slides.length; i++) { %>
        <div class="col-6 col-sm-auto my-2">
          <%- await include('@/sections/inc/banner', {
            _, opt: { ...slides[i] }
          }) %>
        </div>
      <% } %>
    </div>
  </div>
<% } %>
