<% if (_.state.body_html) {
  const clothingCategory = _.state.categories && _.state.categories.find(({ slug }) => {
    return [
      'camiseta',
      'moletom',
      'camiseta-infantil',
    ].includes(slug)
  })
  const clothingCategorySlug = clothingCategory && clothingCategory.slug
  %>
  <section id="product-description" class="product-description my-4 my-lg-5">
    <div class="container">
      <a href="#description" name="description"></a>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-description-tab"
            data-toggle="tab" data-target="#nav-description" type="button" role="tab"
            aria-controls="nav-description" aria-selected="true">
            <%= _.dictionary('productDescription') %>
          </button>
          <% if (clothingCategorySlug === 'camiseta') { %>
            <button class="nav-link" id="nav-quality-tab"
              data-toggle="tab" data-target="#nav-quality" type="button" role="tab"
              aria-controls="nav-quality" aria-selected="false">
              Qualidade
            </button>
            <button class="nav-link" id="nav-measurements-tab"
              data-toggle="tab" data-target="#nav-measurements" type="button" role="tab"
              aria-controls="nav-measurements" aria-selected="false">
              Tabela de medidas da camiseta
            </button>
            <button class="nav-link" id="nav-composition-tab"
              data-toggle="tab" data-target="#nav-composition" type="button" role="tab"
              aria-controls="nav-composition" aria-selected="false">
              Detalhes e composição
            </button>
          <% } %>
        </div>
      </nav>
      <div class="tab-content" id="nav-tab-content">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
          <div class="html-clearfix">
            <%- _.state.body_html.replace(
              /<img ([^/>]+)?src=['"]([^'"]+)['"]([^/>]+)?\/?>/g,
              '<img class="lozad" data-src="$2" $1 $3>'
            ).replace(
              /<img class="lozad" data-src="([^'"]+)"([^>]+)class=['"]([^'"]+)['"]([^/>]+)?>/g,
              '<img class="lozad $3" data-src="$1" $2 $4>'
            ) %>
          </div>
        </div>
        <% if (clothingCategorySlug === 'camiseta') { %>
          <div class="tab-pane fade" id="nav-quality" role="tabpanel" aria-labelledby="nav-quality-tab">
            <div class="html-clearfix">
              <h3>Tá, mas e a camiseta?</h3>
              <p>
                Todas as nossas camisetas são feitas de malha 100% algodão fio 30.1, uma delícia.
                Geladinha, não transparente e bem confortável de usar.
                Só usamos materiais biodegradáveis e aos poucos estamos eliminando todo o plástico da nossa produção.
              </p>
              <p>
                <b>A estampa é feita com serigrafia</b>,
                e você pode lavar tranquilamente e passar o ferro que não a estampa se mantém bonita,
                com cores vivas e bem sólida! :)
                A embalagem, então, é um rolinho de papel que tem no verso hora pôster, hora marca página!
                Bem legal, né? Fora isso, usamos uma fragrância bem gostosa nas camisetas, você vai adorar.
              </p>
              <p class="my-4">
                <img alt="" class="lozad" data-src="https://lh6.googleusercontent.com/wcX-53tYKMpaS08iJ-gbP1xiyg3spkOcjWTiSiIPT-1FZCGzFij7-lCJA5wbZQ4YLYguXI9bYWvRNH1v8oVbfhjEJBC6hZv9OWwBfua_xU5WQmVExP3rllvdCZFF8Sd4XevxX04-" style="max-width: 600px">
              </p>
              <h3>Por que eu deveria comprar com vocês?</h3>
              <p>
                Além de você receber camisetas super legais, estilosas, confortáveis e de qualidade,
                de quebra você vai divulgar a ciência e ainda apoiar uma pequena
                empresa a financiar divulgação científica!
                São vários divulgadores que são ou foram patrocinados pela Doppel, e estamos aumentando os números.
                Pirula, Átila, BlaBlaLogia, Ponto em Comum, Nunca Vi 1 Cientista, Café e Ciência… Conhece algum?
                Bom, pesquisa que eles são incríveis! :D
              </p>
              <p>
                E não para por ai! No momento da compra você ainda escolhe uma instituição de caridade
                que vai receber parte da sua compra.
                Massa, né? E tem mais: vai manter uma pequena empresa ativa, gerando renda e valorizando
                todos os envolvidos na cadeia produtiva, além de fazer com que ela continue
                fazendo os projetos sociais de doar cestas básicas e outras ações que já fazemos e queremos fazer mais,
                sempre visando melhorar a vida das pessoas de situação de risco.
              </p>
              <h3>Ok, eu quero. Mas, como sei o meu tamanho?</h3>
              <p>
                Essa parte é fácil! Logo acima nesta página você pode consultar nossa tabela de medidas!
                Meça uma camiseta sua que fica boa e compare as medidas,
                sempre lembrando que elas podem variar té 2 cm mais ou pra menos e ainda encolhem até
                5% após as primeiras lavagens.
                Na dúvida, pegue um tamanho maior :) E se o tamanho não ficar bom, a gente troca sem problemas :)
              </p>
              <h3>Qualidade e Lavagem</h3>
              <p class="mt-4"><img alt="" class="lozad" data-src="/img/uploads/qualidademasc.webp" style="max-width: 600px"></p>
              <p><img alt="" class="lozad" data-src="/img/uploads/qualidade2.webp" style="max-width: 600px"></p>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-measurements" role="tabpanel" aria-labelledby="nav-measurements-tab">
            <div class="html-clearfix">
              <img alt="" class="lozad" data-src="/img/uploads/tabelademedidascamisetadesktop.webp">
            </div>
          </div>
          <div class="tab-pane fade" id="nav-composition" role="tabpanel" aria-labelledby="nav-composition-tab">
            <div class="html-clearfix">
              <img alt="" class="lozad" data-src="/img/uploads/qualidadecamisetaregataregatinhadesk.webp">
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </section>
<% } %>

<%- await include('@/helpers/widgets-append', {
  _, opt: {}, field: 'productDescriptionAppend'
}) %>
