<% if (_.state.body_html) {
  const clothingCategory = _.state.categories && _.state.categories.find(({ slug }) => {
    return [
      'camiseta',
      'moletom',
      'camiseta-infantil',
    ].includes(slug)
  })
  const clothingCategorySlug = clothingCategory && clothingCategory.slug
  %>
  <section id="product-description" class="product-description my-4 my-lg-5">
    <div class="container">
      <a href="#description" name="description"></a>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-description-tab"
            data-toggle="tab" data-target="#nav-description" type="button" role="tab"
            aria-controls="nav-description" aria-selected="true">
            <%= _.dictionary('productDescription') %>
          </button>
          <% if (clothingCategorySlug === 'camiseta') { %>
            <button class="nav-link" id="nav-quality-tab"
              data-toggle="tab" data-target="#nav-quality" type="button" role="tab"
              aria-controls="nav-quality" aria-selected="false">
              Qualidade
            </button>
            <button class="nav-link" id="nav-composition-tab"
              data-toggle="tab" data-target="#nav-composition" type="button" role="tab"
              aria-controls="nav-composition" aria-selected="false">
              Detalhes e composição
            </button>
          <% } %>
          <button class="nav-link" id="nav-rules-tab"
            data-toggle="tab" data-target="#nav-rules" type="button" role="tab"
            aria-controls="nav-rules" aria-selected="false">
            Prazos e trocas
          </button>
          <button class="nav-link" id="nav-aboutus-tab"
            data-toggle="tab" data-target="#nav-aboutus" type="button" role="tab"
            aria-controls="nav-aboutus" aria-selected="false">
            O que é a Doppel?
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tab-content">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
          <div class="html-clearfix">
            <%- _.state.body_html.replace(
              /<img ([^/>]+)?src=['"]([^'"]+)['"]([^/>]+)?\/?>/g,
              '<img class="lozad" data-src="$2" $1 $3>'
            ).replace(
              /<img class="lozad" data-src="([^'"]+)"([^>]+)class=['"]([^'"]+)['"]([^/>]+)?>/g,
              '<img class="lozad $3" data-src="$1" $2 $4>'
            ) %>
          </div>
        </div>
        <% if (clothingCategorySlug === 'camiseta') { %>
          <div class="tab-pane fade" id="nav-quality" role="tabpanel" aria-labelledby="nav-quality-tab">
            <div class="html-clearfix">
              <h3>Tá, mas e a camiseta?</h3>
              <p>
                Todas as nossas camisetas são feitas de malha 100% algodão fio 30.1, uma delícia.
                Geladinha, não transparente e bem confortável de usar.
                Só usamos materiais biodegradáveis e aos poucos estamos eliminando todo o plástico da nossa produção.
              </p>
              <p>
                <b>A estampa é feita com serigrafia</b>,
                e você pode lavar tranquilamente e passar o ferro que não a estampa se mantém bonita,
                com cores vivas e bem sólida! :)
                A embalagem, então, é um rolinho de papel que tem no verso hora pôster, hora marca página!
                Bem legal, né? Fora isso, usamos uma fragrância bem gostosa nas camisetas, você vai adorar.
              </p>
              <p class="my-4">
                <img alt="" class="lozad" data-src="https://lh6.googleusercontent.com/wcX-53tYKMpaS08iJ-gbP1xiyg3spkOcjWTiSiIPT-1FZCGzFij7-lCJA5wbZQ4YLYguXI9bYWvRNH1v8oVbfhjEJBC6hZv9OWwBfua_xU5WQmVExP3rllvdCZFF8Sd4XevxX04-">
              </p>
              <h3>Por que eu deveria comprar com vocês?</h3>
              <p>
                Além de você receber camisetas super legais, estilosas, confortáveis e de qualidade,
                de quebra você vai divulgar a ciência e ainda apoiar uma pequena
                empresa a financiar divulgação científica!
                São vários divulgadores que são ou foram patrocinados pela Doppel, e estamos aumentando os números.
                Pirula, Átila, BlaBlaLogia, Ponto em Comum, Nunca Vi 1 Cientista, Café e Ciência… Conhece algum?
                Bom, pesquisa que eles são incríveis! :D
              </p>
              <p>
                E não para por ai! No momento da compra você ainda escolhe uma instituição de caridade
                que vai receber parte da sua compra.
                Massa, né? E tem mais: vai manter uma pequena empresa ativa, gerando renda e valorizando
                todos os envolvidos na cadeia produtiva, além de fazer com que ela continue
                fazendo os projetos sociais de doar cestas básicas e outras ações que já fazemos e queremos fazer mais,
                sempre visando melhorar a vida das pessoas de situação de risco.
              </p>
              <h3>Ok, eu quero. Mas, como sei o meu tamanho?</h3>
              <p>
                Essa parte é fácil! Logo acima nesta página você pode consultar nossa tabela de medidas!
                Meça uma camiseta sua que fica boa e compare as medidas,
                sempre lembrando que elas podem variar té 2 cm mais ou pra menos e ainda encolhem até
                5% após as primeiras lavagens.
                Na dúvida, pegue um tamanho maior :) E se o tamanho não ficar bom, a gente troca sem problemas :)
              </p>
              <h3>Qualidade e Lavagem</h3>
              <p class="mt-4"><img alt="" class="lozad" data-src="/img/uploads/qualidademasc.webp"></p>
              <p><img alt="" class="lozad" data-src="/img/uploads/qualidade2.webp"></p>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-composition" role="tabpanel" aria-labelledby="nav-composition-tab">
            <div class="html-clearfix">
              <picture class="img-fluid">
                <source srcset="/img/uploads/qualidadecamisetaregataregatinhadesk.webp"
                  media="(min-width: 750px)" type="image/webp">
                <source srcset="/img/uploads/qualidadecamisetaregataregatinhamobile.webp"
                  media="(min-width: 100px)" type="image/webp">
                <img src="/img/uploads/qualidadecamisetaregataregatinhamobile.webp"
                  loading="lazy" alt="Qualidade e composição" class="img-fluid">
              </picture>
            </div>
          </div>
        <% } %>
        <div class="tab-pane fade" id="nav-rules" role="tabpanel" aria-labelledby="nav-rules-tab">
          <div class="html-clearfix">
            <h3>Prazos</h3>
            <p>
              Nós trabalhamos sob demanda para conseguir produzir tudo com um custo acessível para nós
              e sem sobrecarregar nossos colaboradores.
              Por isso, nossos produtos possuem um prazo para serem confeccionados, estampados e postados,
              portanto, o tempo de entrega estabelecido pelos Correios devem ser contados a partir do envio.
              Nosso prazo de produção é de até 5 dias úteis.
              Temos certeza que você vai entender!
              Entre em contato caso possua qualquer dúvida. :)
            </p>
            <hr>
            <h3>Trocas ou Devoluções</h3>
            <p>
              Se por algum motivo você não gostou do produto, mudou de ideia,
              ele está com defeito e deseja trocá-lo, envie um e-mail para
              doppelstore@doppelstore.com.br ou envie uma mensagem por WhatsApp (41 3206-5962) relatando o problema.
              Dessa forma responderemos o mais rápido possível e daremos início ao processo de troca :)
              Verifique abaixo os motivos para trocas e seus respectivos prazos:
            </p>
            <h3>Arrependimento</h3>
            <p>
              No caso de arrependimento, você terá seu dinheiro integral ressarcido,
              e o frete de retorno será por conta da loja.
              Para efetuar essa troca você precisa solicitá-la em até 7 dias corridos após o recebimento do pedido :)
              Após solicitado, a loja agendará uma coleta do pedido e nele deverá conter todos os itens
              que estavam inicialmente no pacote, como brindes e outros adornos.
              Além disso, o produto não poderá estar lavado ou com indícios de uso.
              As condições acima citadas deverão ser cumpridas para que o reembolso ou o estorno da transação seja efetuado.
              Caso seja identificada qualquer divergência ou violação do produto, não aceitaremos a
              devolução e devolveremos o produto ao remetente. :/
              Após o produto retornar e for constatado que tudo está ok, o reembolso será feito pelo
              nosso intermediador de pagamentos, o Yapay.
            </p>
            <h3>Tamanho incorreto</h3>
            <p>
              Na modalidade de <b>tamanho incorreto</b>,
              o frete de retorno da camiseta de tamanho errado fica por conta do <b>comprador</b>,
              enquanto o do envio da correta por conta <b>da loja</b>.
              Caso os tamanhos estejam fora das medidas estabelecidas na tabela de medidas (produto com defeito),
              respeitando as possíveis variações, todos os custos serão pagos pela loja.
            </p>
            <h3>Produto com defeito</h3>
            <p>
              Se o seu produto apresentar defeitos de fabricação em um período de 90 dias,
              você poderá trocá-lo por outro semelhante ou então ter seu dinheiro ressarcido,
              e qualquer custo adicional causado pela troca/devolução será pago pela loja,
              mediante uma análise do produto para constatar que foi defeito de fábrica e não mal uso.
            </p>
            <hr>
            <h3>Estorno</h3>
            <p>
              Em qualquer caso de estorno, o mesmo só será feito após os produtos voltarem para a loja.
            </p>
            <h3>Endereço de envio</h3>
            <p>
              De todas as formas, o produto deverá ser enviado para
              <b>o endereço abaixo, junto com uma mensagem relatando qual o número do pedido qual vai ser a troca :D</b>
            </p>
            <h3>Endereço para envio:</h3>
            <p>Doppel Store</p>
            <p>Rua Evaristo da Veiga, 1476. - Portão da esquerda, 1476A</p>
            <p>Curitiba/PR</p>
            <p>CEP 81670-460 - Bairro Boqueirão</p>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-aboutus" role="tabpanel" aria-labelledby="nav-aboutus-tab">
          <div class="html-clearfix">
            <h4>MEU MANIFESTO</h4>
            <p>
              Oi! Meu nome é Igor, eu tenho 27 anos e se eu conseguisse me resumir em uma palavra,
              eu usaria o termo "CURIOSO". Desde criança eu sempre fui muito curioso
              e viciado nos mistérios da vida...
              E isso me levou a me apaixonar pela ciência, a nossa vela que nos ilumina na escuridão.
              Já quis ser historiador, arqueólogo, programador, cosmólogo...
              Comecei duas faculdades - Bacharelado em Física na UFPR e Bacharelado em Letras Latim também na UFPR -
              e não conclui nenhuma, mas consegui nesse meio tempo fundar a Doppel
              e fazer ela chegar onde está hoje.
            </p>
            <div class="d-md-flex my-5" style="gap: 2rem">
              <a href="https://www.instagram.com/p/CKeQzQfjIfz/" target="_blank">
                <img alt="" class="lozad" data-src="/img/uploads/Sem_Titulo1.webp"
                  width="478" height="473">
              </a>
              <a href="https://www.instagram.com/p/CgkoLIuFtJD/" target="_blank">
                <img alt="" class="lozad" data-src="/img/uploads/Screenshot_1.webp"
                  width="390" height="520">
              </a>
            </div>
            <p>
              Minha inspiração empreendedora veio da minha mãe Ester da minha avó Angelina.
              Minha mãe já juntou latinha, vendeu cachorro quente e espetinho na rua.
              Já minha avó, sustentou seus 12 filhos com a venda de verduras que ela plantava na roça,
              tricô, sabão e pão que ela fazia.
            </p>
            <p>
              <img alt="" class="lozad" data-src="/img/uploads/eu_e_vo.webp"
                style="max-width: min(100%, 750px)">
            </p>
            <p><em>Eu com 5 anos, minha mãe e na foto ao lado minha avó.</em></p>
            <hr>
            <p>
              O computador foi a melhor coisa que me aconteceu.
              Aos 11 anos eu já tinha acesso à internet e ficava horas aprendendo, estudando o mundo e
              sanando minhas curiosidades, além de é claro, jogando bastante hehe.
              Minha mãe ralou para pagar aquelas 24 parcelas, mas foi a melhor coisa que ela fez.
              Eu aprendi muito, desenvolvi muito... E principalmente tive acesso ao pensamento crítico, científico e filosófico.
              Durante o começo da adolescência, eu assistia vídeos do Yuri Grecco, Pirula,
              Guilherme Tomishiyo, Be Matemática, Vides Junior e outros.
              Grande parte dos valores que tenho hoje foram eles que me transmitiram.
            </p>
            <p>
              <img alt="" class="lozad" data-src="/img/uploads/80587617_2886009964782632_515123203362783232_o.webp"
                style="max-width: min(100%, 500px)">
            </p>
            <p><em>Eu quando conheci o meu ídolo Pirula, em 2017.</em></p>
            <p>
              No final de 2013, eu fundei a Doppel.
              Juntei aquilo que aprendi com minha mãe e avó, e iniciei meu pequeno negócio de camisetas
              daquilo que eu gostava: ciência, coisas nerds, etc. Com o tempo - e diga-se de passagem MUITO tempo,
              porque a loja só foi realmente se tornar algo palpável em 2018 - a loja tomou a forma que tem hoje:
              uma loja que divulga a ciência com camisetas e que financia divulgação científica na internet.
            </p>
            <hr>
            <p>
              Hoje somos mais de 5 pessoas na empresa, até 2018 era somente eu,
              e durante a pandemia conseguimos chegar até 20, mas depois precisamos diminuir.
              Mas faz parte.
            </p>
            <p>
              Nossas atividades são focadas em mostrar o quão interessante e legal é a ciência,
              além de tentar colocar um pouco de pensamento crítico na cabeça daqueles que por falta
              de oportunidade não tiveram acesso a esse tipo de conteúdo.
              Também acreditamos que projetos sociais são essenciais para melhorar o a vida das pessoas,
              e estamos aqui fazendo doações todos os meses, como por exemplo as instituições
              que você escolhe no momento da compra como também as cestas básicas e
              apadrinhamentos que fazemos mensalmente para a ONG ODPH (www.odph.org.br).
            </p>
            <p>
              Estamos na era do negacionismo e da pós-verdade,
              e por isso a Doppel divulgação científica na internet,
              porque somente com isso nós poderemos vencer essa batalha difícil.
              Esse é o meu projeto e o meu manifesto.
            </p>
            <p>
              <img alt="" class="lozad" data-src="/img/uploads/47089149543c4d7287f2b158154d9734.webp"
                style="max-width: min(100%, 500px)">
            </p>
            <p><em>Eu, hoje, com a Marie Curie, Albert Einstein e Zé Gotinha.</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% } %>

<%- await include('@/helpers/widgets-append', {
  _, opt: {}, field: 'productDescriptionAppend'
}) %>
