@import '#template/scss/variables';
// Supports weights 100-900
@import '@fontsource-variable/encode-sans';

$font-family-sans-serif: 'Encode Sans Variable', sans-serif;
$body-bg: #161b28 !important;
$bg-usual: #283043;
