// Add your custom CSS here.
$dark-slate: #283043;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$container-width: 1110px;

body {
  background-image: url(/img/uploads/fundo.webp);
}

.top-bar {
  background-color: rgba(var(--primary-rgb), .5);
  &__countdown,
  &__nav {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__nav {
    padding: 0;
    color: $slate-300;
    .row {
      align-items: center;
    }
  }
  &__highlight,
  &__countdown {
    color: #fff;
    padding: .25rem .75rem;
    background: var(--primary);
  }
}

.header {
  background-color: rgba($dark-slate, .9);
  background-image: url(/img/uploads/fundo.webp);
  backdrop-filter: blur(20px);
  border-bottom: none;
  box-shadow: var(--box-shadow);
  padding-top: 0;
  &__container {
    max-width: none;
    margin: 0;
  }
  &__row {
    justify-content: center;
  }
  #search-bar {
    max-width: 720px;
  }
  .header__nav--full {
    justify-content: center;
    gap: 2rem;
  }

  &__nav {
    text-transform: none;
    font-weight: 500;
    background-color: $dark-slate;
    a {
      color: #fff;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__search-input {
    font-size: 1rem;
    &::placeholder {
      color: #fff;
    }
  }

  &__buttons {
    i {
      font-size: 1.75rem;
      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }
  }

  #user-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    > span {
      opacity: .9;
    }
  }
}

.footer {
  background: $dark-slate;
  border-top: none;
  &__title {
    color: $gray-200 !important;
  }
  &__payment-methods i {
    background-color: rgba(225, 225, 225, .875);
    border-radius: 2px;
  }
  &__links {
    font-weight: 500;
  }
  &__credits {
    border-color: rgba(0, 0, 0, .15);
  }
}

.info-bar {
  background-color: $dark-slate;
  @media (min-width: 1024px) {
    max-width: none;
    &__nav {
      max-width: var(--content-max-width);
      justify-content: center;
    }
  }
  &__item {
    max-width: 280px;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  span.info-bar__item::after {
    display: none;
  }

  &__title {
    font-size: .85rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  &__text {
    font-size: .785rem;
    color: $slate-300;
    text-transform: none;
  }
}

.products-carousel {
  .glide {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.partner__list {
  padding: 2rem 15px;
  background-color: $dark-slate;
  > * {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  content: "/";
  opacity: .6;
}

.product-description .html-clearfix,
.md-content .container,
#product > .row > div:last-child {
  background: rgba($dark-slate, 0.75);
  padding: 1.5rem;
  border-radius: .3rem;
}
.table td,
.table th {
  border-color: rgba($dark-slate, 0.8);
}

.product-specs {
  .text-muted {
    color: $slate-300 !important;
  }
}

.gallery {
  &__thumb {
    border-radius: .25rem;
  }
  &__stage {
    border-radius: .3rem;
  }
}

.product {
  &__sku {
    display: none;
  }
  &__name {
    font-weight: 600;
    @media (min-width: 1024px) {
      font-size: 2.35rem;
    }
  }
  .prices--big .prices__value {
    font-size: 2rem;
    small {
      font-size: 1.6rem;
    }
  }

  &__buy {
    margin-bottom: .7rem;
    button {
      display: block;
      width: 100%;
      padding-top: 0.7rem;
      padding-bottom: 0.75rem;
      font-weight: 600;
      font-size: 1.15rem;
    }
    .i-shopping-cart {
      font-size: 1.7rem;
    }
    small {
      font-weight: 500;
      font-size: .83rem;
      display: block;
      text-align: center;
      margin-top: .5rem;
      color: $slate-300;
    }
  }

  &__favorite {
    i {
      color: #f43f5e;
      opacity: 1;
      font-size: 130%;
    }
  }

  &__production {
    margin-top: 1rem;
    background: #fff;
    color: $dark-slate;
    font-size: 1.15rem;
    padding: .6rem 1rem;
    border-radius: .25rem;
  }
  .shipping-calculator label {
    font-weight: 500;
    color: #fff;
    font-size: 1.15rem;
  }
}

.variations {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  &__grid {
    min-width: 135px;
  }

  &__grid-title {
    color: $slate-200;
    font-size: 1.1rem;
  }
  .variations__value {
    display: block;
    margin: 0;
    font-size: 0.85rem;
  }

  .variations__option {
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-size: .875rem;
    color: #fff;
    border-color: $slate-400;
  }
}

.share {
  font-size: .875rem;
  i {
    font-size: .925rem;
  }
  &-network {
    &-email {
      > * {
        color: #fff !important;
      }
    }
    &-sms {
      display: none;
    }
  }
}

.text-center {
  text-align: center;
}
.text-xs {
  font-size: .8rem;
}

// ---

.collection-shelf .products-carousel, .products-carousel__title span, .breadcrumb, .recommended-products .products-carousel {
    background: unset !important;
}
.header {
    #search-input {
        background-color: #6c7ea7;
    }

    &__search { 
        overflow:visible
    }

    @media(min-width: 576px) {
        &__logo {
            max-height: 100px;
        }
        &__buttons-block {
            padding-right: 25px;
        }
    }

    &__buttons .btn .badge {
        right: -12px;
        top: 20px;
        padding: .35em .6em;
        border-radius: 50px;
        margin-left: 3px;
    }

    &__nav {
        height: 52px !important;
        align-items: center;
    }

    &__nav-block {
        padding-left: 0;
        padding-right: 0;
    }

    &__nav--full {
        display: flex !important;
        justify-content: space-around;
        .d-inline-block {
            margin-top: unset;
            padding-top: var(--spacer-2);
            padding-bottom: var(--spacer-2);
            &::before {
                content: '';
                position: absolute;
                bottom: 3px;
                width: 0;
                height: 3px;
                background-color: var(--primary);
                transition: ease-out .2s;
            }
            &:hover::before {
                width: 106px;
            }
        }
    }

    &__category {
        font-size: 18px;
        margin-top: 0px !important;
        padding: 0 var(--spacer-2) !important;

        .i-chevron-down {
            margin-left: .325rem;
            color: var(--primary)
        }

        &:hover {
            color: unset !important;
        }
    }

    @media(min-width: 767px) {
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    
       &__container {
            margin-bottom: 0;
        }
    
        #menu_desk {
            margin-top: 10px;
        }

        &__search-btn svg {
            margin-bottom: 5px;
        }
    }

    &__submenu {
        background-color: #fff;
        margin-top: 12px;
        &-category {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary) !important;
        }
        &-subcategory {
            color: #161b28 !important;
        }
        div {
            min-width: 180px;
        }
    }


    #user-button span {
        font-size: .875rem;
    }
    @media(max-width: 576px) {
        .login {
            display: none;
        }
        &__buttons {
            padding-right: 25px;
        }
    }
}

#instant-search {

  .search__box, 
  &> .backdrop,
  .search__box .search__input-group
  {
      display: none;
  }

  .search {
      &__box {
          position: absolute;
          left: 0;
          top: 100%;
          margin: 0;
          z-index: 1;
          border-radius: 0;
          width: 550px;
          margin-top: 15px;
          .search-engine h4 {
              font-size:18px;
          }
          .search-engine .lead {
              font-size:14px;
              margin-top:.5rem
          }
          .product-card {
              background-color: unset !important;
              section {
                  display: flex;
                  flex-direction: row;
              }
          }
          .col-6.col-md-4.col-lg-3 {
              flex: 0 0 100% !important;
              max-width: 100% !important;
              .product-card--small .product-card__pictures {
                  height: auto;
                  width: 100px;
              }
              .product-card__link {
                  display: flex;
                  align-items: center;
              }
              .product-card__prices {
                  display: none;
              }
          }
      }

      &__history .fas,
      &__count {
          color:#fff;
      }

      &__history {
          text-align:right
      }

      &__body {
          max-height:50vh
      }

      &__history,
      &__history a,
      &__count {
          color:#fff;
          font-size:12px;
          white-space:normal
      }

      &__footer{
          font-size: 12px;
          border-radius: 0;
          border: 0;
      }

  }
}

@media (max-width: 575.98px) {
    #search-bar {
        display: block !important;
        display: block !important;
        height: 46px !important;
        transition: none;
    }

    #mobile-search-btn {
        display: none !important;
    }
}
.rounded-icon {
    border: none;
    img {
        width: 44px;
        height: 44px;
        margin-top: -10px;
    }
}
.responsive-baner, .banners-grid-block {
    .banner {
        transition: ease-out .3s;
        &:hover {
            opacity: .9;
            transform: scale(1.05);
            transition: ease-out .3s;
        }
    }
}
.banners-grid-block {
    .col-12.col-lg-3 .banner {
        &:first-child {
            padding-bottom: 15px;
        }
    
        &:last-child {
            padding-top: 15px;
        }
    }
    
    .reversed-order {
        display: flex;
        flex-direction: row-reverse !important
    }
}
.products-carousel__title {
    font-size: 1.75rem !important;
    &::before {
        background-color: unset;
    }
    &::after {
        content: '';
        display: block;
        width: 62px;
        height: 4px;
        margin: 15px auto 0;
        background-color: var(--primary);
    }
}
.gallery {
    &__item, .glide__slide {
        img {
            max-width: 100%;
        }
    }
}

.product-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #283043 !important;

    &__name {
        padding-top: 1rem;
        font-size: .875rem;
        font-weight: 500;
        color: #fff;
    }

    .prices__installments {
        font-size: .875rem !important;
        font-weight: 500 !important;
        color: #fff;
        &::before {
            content: 'ou ';
        }
        &::after {
            content: ' Sem Juros Cartão';
        }
    }

    &__name, &__rating, &__prices, &__buy, .variations {
        padding-left: var(--spacer-3);
        padding-right: var(--spacer-3);
        @media(max-width: 992px) {
            padding-left: var(--spacer-1);
            padding-right: var(--spacer-1);
        }
    }

    &__picture img {
        width: 100%;
        max-height: 100% !important;
    }
}

.product__payment.card.mb-3 {
    display: none !important;
}
.page--estampas {
    .banner, .html-clearfix {
        background-color: #283043 !important;
    }

    .product-name {
        flex-grow: 1;
        max-height: 40px;
        font-size: .875rem;
        font-weight: 500;
        color: #fff !important;
        text-align: left
    }

    .product-print-message {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
        color: #fff;
        span {
            color: var(--primary)
        }
        text-align: left;
    }
}

.pagination {

    &.mr-2 {
        display: none;
    }

    &.d-none.d-lg-flex {
        .page-item {

            border-radius: 2px;
            margin-right: var(--spacer-2);
            min-width: 44px;

            &.active {
                .page-link {
                    background-color: var(--primary);
                    border: none;
                }
            }

            span, a {
                text-align: center;
            }
        }

        @media(max-width: 576px) {
            display: flex !important;
        }
    }
}

.prices__value {
    color: var(--primary);
    small {
        color: #fff !important;
    }
}

.product-print-design-link {
    transition: ease .5s background-color;
    display: block;
    margin: 10px auto 8px;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    background-color: #2a7ec4;
    color: #fff;
}

.login-modal {
    &__header, &__btn.btn-secondary {
      background-color: $dark-slate; 
    }
}
