// Add your custom CSS here.
$dark-slate: #283043;
$dark-slate-rgb: 40,48,67;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;

body {
  background-image: url(/img/uploads/fundo.webp);
}

.top-bar {
  background-color: rgba(var(--primary-rgb), .5);
  &__countdown,
  &__nav {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__nav {
    padding: 0;
    color: $slate-300;
    .row {
      align-items: center;
    }
  }
  &__highlight,
  &__countdown {
    color: #fff;
    padding: .25rem .75rem;
    background: var(--primary);
  }
}

.header {
  border-bottom: none;
  padding-top: 0;
  &__container {
    max-width: none;
  }
  &__row {
    justify-content: center;
  }
  #search-bar {
    max-width: 720px;
  }
  .header__nav--full {
    justify-content: center;
    gap: 2rem;
  }

  &__nav {
    text-transform: none;
    font-weight: 500;
    background: $dark-slate;
    a {
      color: #fff;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__search-input {
    font-size: 1rem;
    &::placeholder {
      color: #fff;
    }
  }

  &__buttons {
    i {
      font-size: 1.75rem;
      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }
  }
  #user-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    > span {
      opacity: .9;
    }
  }
}

main .html-clearfix {
  background: #000;
}

.footer {
  background: $dark-slate;
  border-top: none;
  &__title {
    color: $gray-200 !important;
  }
  &__payment-methods i {
    background-color: rgba(225, 225, 225, .875);
    border-radius: 2px;
  }
  &__links {
    font-weight: 500;
  }
  &__credits {
    border-color: rgba(0, 0, 0, .15);
  }
}

.info-bar {
  background-color: $dark-slate;
  @media (min-width: 1024px) {
    max-width: none;
    &__nav {
      max-width: var(--content-max-width);
      justify-content: center;
    }
  }
  &__item {
    max-width: 280px;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  span.info-bar__item::after {
    display: none;
  }

  &__title {
    font-size: .85rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  &__text {
    font-size: .785rem;
    color: $slate-300;
    text-transform: none;
  }
}

// ---

.collection-shelf .products-carousel, .products-carousel__title span, .partner__list + .custom-html .html-clearfix, .breadcrumb, #product-description .html-clearfix, .recommended-products .products-carousel {
    background: unset !important;
}
.header {
    background-color: #161b28 !important;
    background-image: url(/img/uploads/fundo.webp);
    #search-input {
        background-color: #6c7ea7;
    }

    .search__input-group,
    #instant-search .backdrop {
        display: none !important;
    }

    #instant-search .search__box.card {
        display: none;
        margin-top: 90px;

        @media(min-width: 992px) {
            margin-top: 100px;
            height: 500px;
        }

    }

    @media(min-width: 576px) {
        &__logo {
            max-height: 100px;
        }
        &__buttons-block {
            padding-right: 25px;
        }
    }

    &__buttons .btn .badge {
        right: -12px;
        top: 20px;
        padding: .35em .6em;
        border-radius: 50px;
        margin-left: 3px;
    }

    &__nav {
        height: 52px !important;
        align-items: center;
    }

    &__nav-block {
        padding-left: 0;
        padding-right: 0;
    }

    &__nav--full {
        display: flex !important;
        justify-content: space-around;
        .d-inline-block {
            margin-top: unset;
            padding-top: var(--spacer-2);
            padding-bottom: var(--spacer-2);
            &::before {
                content: '';
                position: absolute;
                bottom: 3px;
                width: 0;
                height: 3px;
                background-color: var(--primary);
                transition: ease-out .2s;
            }
            &:hover::before {
                width: 106px;
            }
        }
    }

    &__category {
        font-size: 18px;
        margin-top: 0px !important;
        padding: 0 var(--spacer-2) !important;

        .i-chevron-down {
            margin-left: .325rem;
            color: var(--primary)
        }

        &:hover {
            color: unset !important;
        }
    }

    @media(min-width: 767px) {
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    
       &__container {
            margin-bottom: 0;
        }
    
        #menu_desk {
            margin-top: 10px;
        }

        &__search-btn svg {
            margin-bottom: 5px;
        }
    }

    &__submenu {
        background-color: #fff;
        margin-top: 12px;
        &-category {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary) !important;
        }
        &-subcategory {
            color: #161b28 !important;
        }
        div {
            min-width: 180px;
        }
    }


    #user-button span {
        font-size: .875rem;
    }
    @media(max-width: 576px) {
        .login {
            display: none;
        }
        &__buttons {
            padding-right: 25px;
        }
    }
}

@media (max-width: 575.98px) {
    #search-bar {
        display: block !important;
        display: block !important;
        height: 46px !important;
        transition: none;
    }

    #mobile-search-btn {
        display: none !important;
    }
}
.rounded-icon {
    border: none;
    img {
        width: 44px;
        height: 44px;
        margin-top: -10px;
    }
}
.responsive-baner, .banners-grid-block {
    .banner {
        transition: ease-out .3s;
        &:hover {
            opacity: .9;
            transform: scale(1.05);
            transition: ease-out .3s;
        }
    }
}
.banners-grid-block {
    .col-12.col-lg-3 .banner {
        &:first-child {
            padding-bottom: 15px;
        }
    
        &:last-child {
            padding-top: 15px;
        }
    }
    
    .reversed-order {
        display: flex;
        flex-direction: row-reverse !important
    }
}
 
.stamps__list {

    a, .stamps__block, .product-print-message {
        background-color: #283043;
    }

    .product-name {
        flex-grow: 1;
        max-height: 40px;
        font-size: .875rem;
        font-weight: 500;
        color: #fff !important;
        text-align: left
    }

    .product-print-message {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
        color: #fff;
        span {
            color: var(--primary)
        }
        text-align: left;
    }

    .glide__arrow {
        background-color: var(--primary);
        color: #fff;
        opacity: 1;
        @media(min-width: 992px) {
            &--right {
                margin-right: -80px;
            }
            &--left {
                margin-left: -80px;
            }
        }
    }

    .stamps__text {
        padding-bottom: 5px;
    }
}
.products-carousel__title {
    font-size: 1.75rem !important;
    &::before {
        background-color: unset;
    }
    &::after {
        content: '';
        display: block;
        width: 62px;
        height: 4px;
        margin: 15px auto 0;
        background-color: var(--primary);
    }
}
.ver-mais h3 a {
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 5px 35px;
    color: #fff !important;
}
.gallery {
    &__item, .glide__slide {
        img {
            max-width: 100%;
        }
    }
}
.partner__list {
    padding: 60px 0;
    background-color: #283043 !important;
    max-width: var(--content-max-width);
    width: 100%;

    .glide__arrow {
        background-color: var(--primary);
        color: #fff;
        opacity: 1;
    }
}

.product-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #283043 !important;

    &__name {
        padding-top: 1rem;
        font-size: .875rem;
        font-weight: 500;
        color: #fff;
    }

    .prices__installments {
        font-size: .875rem !important;
        font-weight: 500 !important;
        color: #fff;
        &::before {
            content: 'ou ';
        }
        &::after {
            content: ' Sem Juros Cartão';
        }
    }

    &__name, &__rating, &__prices, &__buy, .variations {
        padding-left: var(--spacer-3);
        padding-right: var(--spacer-3);
        @media(max-width: 992px) {
            padding-left: var(--spacer-1);
            padding-right: var(--spacer-1);
        }
    }

    &__picture img {
        width: 100%;
        max-height: 100% !important;
    }
}

.product__payment.card.mb-3 {
    display: none !important;
}
.page--estampas {
    .banner, .html-clearfix {
        background-color: #283043 !important;
    }

    .product-name {
        flex-grow: 1;
        max-height: 40px;
        font-size: .875rem;
        font-weight: 500;
        color: #fff !important;
        text-align: left
    }

    .product-print-message {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
        color: #fff;
        span {
            color: var(--primary)
        }
        text-align: left;
    }
}

.search-engine__retail .col-6.col-md-4.col-lg-3 {
    margin-bottom: var(--spacer-4);
}
.pagination {

    &.mr-2 {
        display: none;
    }

    &.d-none.d-lg-flex {
        .page-item {

            border-radius: 2px;
            margin-right: var(--spacer-2);
            min-width: 44px;

            &.active {
                .page-link {
                    background-color: var(--primary);
                    border: none;
                }
            }

            span, a {
                text-align: center;
            }
        }

        @media(max-width: 576px) {
            display: flex !important;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
    content: "/";
}

.product {
    .row {
        .col {
            background-color: #161b28;
            display: flex;
            flex-direction: column;
        }
    }

    &__name {
        text-align: center;
    }

    &__sku {
        display: none;
    }

    #trustvox-rating {
        text-align: center;
    }

    &__buy {
        button {
            background-color: #3dd193;
            border: none;
            width: 100%;
            font-weight: 600;
            padding: 15px;

            &:hover {
                background-color: #30b37c;
            }
        }

        &::after {
            content: "* Aqui sua compra é 100% segura, compre com tranquilidade.";
            margin-top: var(--spacer-3);
            display: flex;
            justify-content: center;
        }
    }

    &__production {
        background-color: var(--primary);
        font-weight: 600;
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;

        .i-info-circle {
            color: #fff !important;
        }

    }

    .shipping-calculator {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &::before {
            content: 'Trabalhamos com produção sob demanda, sem estoque. Cada peça é feita uma a uma de forma sustentável, especialmente pra você. Por isso, nosso prazo pode parecer longo, mas vale a pena! :3';
            margin-top: var(--spacer-2);
            margin-bottom: var(--spacer-2);
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &__form {
            label {
                color: var(--primary);
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        &__services {
            width: 100%;
        }

        &__option {
            text-align: left;
        }
    }

}

.prices__value {
    color: var(--primary);
    small {
        color: #fff !important;
    }
}

.product-print-design-link {
    transition: ease .5s background-color;
    display: block;
    margin: 10px auto 8px;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    background-color: #2a7ec4;
    color: #fff;
}
